{:blocks (
{:block/created-at 1746374345145
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed true
:borderRadius 8
:index 1
:scale [1 1]
:pageId "Race/Remnants"
:scaleLevel "lg"
:fill ""
:compact false
:isAutoResizing false
:type "logseq-portal"
:size [248 60]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "b63f00b0-16fb-11f0-99ba-19d7b2819df0"
:noFill false
:point [2160 -312]
:parentId "67f952e8-250c-450b-827e-e637fc433244"
:collapsedHeight 7761.000317525709
:nonce 1744393080230}}
:block/updated-at 1746374345145} 
{:block/created-at 1744393207774
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 3
:scale [1 1]
:scaleLevel "xxl"
:fill ""
:type "pencil"
:points [[0 0 0.5]]
:strokeType "line"
:strokeWidth 6
:opacity 1
:id "009f1280-16fc-11f0-99ba-19d7b2819df0"
:noFill true
:point [4046.5482443358133 -773.8423364149608]
:parentId "67f952e8-250c-450b-827e-e637fc433244"
:nonce 1744393204651
:isComplete true}}
:block/updated-at 1744393207774} 
{:block/created-at 1746374457725
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed true
:borderRadius 8
:index 2
:scale [1 1]
:pageId "masked"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing false
:type "logseq-portal"
:size [400 40]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "e7056c20-16fb-11f0-99ba-19d7b2819df0"
:noFill false
:point [3024 -232]
:parentId "67f952e8-250c-450b-827e-e637fc433244"
:collapsedHeight 625.984408148968
:nonce 1744393162304}}
:block/updated-at 1746374457725} 
{:block/created-at 1746374590039
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 10
:scale [1 1]
:pageId "68102652-c80c-4f8f-9201-1d7f59353485"
:scaleLevel "xl"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [976 1803.9999293254]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "14923e40-2901-11f0-96af-f3e4d4fed5aa"
:noFill false
:point [616 0]
:parentId "67f952e8-250c-450b-827e-e637fc433244"
:collapsedHeight 0
:nonce 1746374506806}}
:block/updated-at 1746374590039} 
{:block/created-at 1746374473974
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed true
:borderRadius 8
:index 9
:scale [1 1]
:pageId "living-toy"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing false
:type "logseq-portal"
:size [400 40]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "f999a420-2900-11f0-96af-f3e4d4fed5aa"
:noFill false
:point [3000 -512]
:parentId "67f952e8-250c-450b-827e-e637fc433244"
:collapsedHeight 901.9999973444258
:nonce 1746374461338}}
:block/updated-at 1746374473974} 
{:block/created-at 1746374451141
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 8
:scale [1 1]
:pageId "68102652-a1b9-4d0b-807c-7756f26b4ef8"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 326]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "daf12160-2900-11f0-96af-f3e4d4fed5aa"
:noFill false
:point [2496 -408]
:parentId "67f952e8-250c-450b-827e-e637fc433244"
:collapsedHeight 0
:nonce 1746374409985}}
:block/updated-at 1746374451141} 
{:block/created-at 1746374455853
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed true
:borderRadius 8
:index 7
:scale [1 1]
:pageId "remains"
:scaleLevel "sm"
:fill ""
:compact false
:isAutoResizing false
:type "logseq-portal"
:size [320 32]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "b6b528f0-2900-11f0-96af-f3e4d4fed5aa"
:noFill false
:point [2984 16]
:parentId "67f952e8-250c-450b-827e-e637fc433244"
:collapsedHeight 1896.8000000000002
:nonce 1746374349340}}
:block/updated-at 1746374455853} 
{:block/created-at 1744398841904
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 6
:scale [1 1]
:scaleLevel "xxl"
:fill ""
:type "pencil"
:points [[0 0 0.5]]
:strokeType "line"
:strokeWidth 6
:opacity 1
:id "0d1699c0-16fc-11f0-99ba-19d7b2819df0"
:noFill true
:point [5298.898479955053 625.4980689315853]
:parentId "67f952e8-250c-450b-827e-e637fc433244"
:nonce 1744393225567
:isComplete true}}
:block/updated-at 1744398841904} 
{:block/created-at 1744393211356
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 4
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "pencil"
:points [[0 0 0.5]]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "02ce75a0-16fc-11f0-99ba-19d7b2819df0"
:noFill true
:point [4705.686040725101 277.39651652821067]
:parentId "67f952e8-250c-450b-827e-e637fc433244"
:nonce 1744393208317
:isComplete true}}
:block/updated-at 1744393211356} 
{:block/created-at 1746374502767
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed true
:borderRadius 8
:index 0
:scale [1 1]
:pageId "race"
:scaleLevel "xxl"
:fill ""
:compact false
:isAutoResizing false
:type "logseq-portal"
:size [192 120]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "68677b60-16fb-11f0-99ba-19d7b2819df0"
:noFill false
:point [984 -152]
:parentId "67f952e8-250c-450b-827e-e637fc433244"
:collapsedHeight 251.0000290415384
:nonce 1744392949562}}
:block/updated-at 1746374502767} 
{:block/created-at 1744393212121
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 5
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "pencil"
:points [[0 0 0.5] [0 0.36949533213396535 0.5]]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "046fa280-16fc-11f0-99ba-19d7b2819df0"
:noFill true
:point [4971.143803841187 -18.667776599636]
:parentId "67f952e8-250c-450b-827e-e637fc433244"
:nonce 1744393211051
:isComplete true}}
:block/updated-at 1744393212121})
:pages (
{:block/tx-id 536871493
:block/uuid #uuid "67f952e8-250c-450b-827e-e637fc433244"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "67f952e8-250c-450b-827e-e637fc433244"
:name "races"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("68677b60-16fb-11f0-99ba-19d7b2819df0" "b63f00b0-16fb-11f0-99ba-19d7b2819df0" "e7056c20-16fb-11f0-99ba-19d7b2819df0" "009f1280-16fc-11f0-99ba-19d7b2819df0" "02ce75a0-16fc-11f0-99ba-19d7b2819df0" "046fa280-16fc-11f0-99ba-19d7b2819df0" "0d1699c0-16fc-11f0-99ba-19d7b2819df0" "b6b528f0-2900-11f0-96af-f3e4d4fed5aa" "daf12160-2900-11f0-96af-f3e4d4fed5aa" "f999a420-2900-11f0-96af-f3e4d4fed5aa" "14923e40-2901-11f0-96af-f3e4d4fed5aa")}}
:block/updated-at 1746374590039
:block/created-at 1744392936003
:block/title "races"
:block/type "whiteboard"
:block/name "races"
:block/original-name "Races"})}